<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    {% load static %}
    <link rel="stylesheet" href = "{% static 'login_style.css' %}">
    <link rel="shortcut icon" href="{% static 'logo.ico' %}"/>
</head>

<body>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            {% if error_message %}
                <div class="error-message" style="color: red;">
                    {{ error_message }}
                </div>
            {% endif %}
            <h2>Login</h2>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <label type="submit" value="Login">
            <input type="submit" id="submit" name="submit">
        </form>
    </div>
</body>
</html>